.breakdowns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.breakdowns > div {
  max-width: 300px;
  min-width: 100px;
}

.post-date {
  text-align: right;
  font-style: italic;
}
