.breakdowns {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.breakdowns > div {
  max-width: 300px;
  min-width: 100px;
}

.post-date {
  text-align: right;
  font-style: italic;
}

main {
  max-width: 80ch;
  margin: auto;
}

main img {
  width: 100%;
}
