[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/simple-style"]
	path = themes/simple-style
	url = https://github.com/yanlinlin82/simple-style.git
[submodule "public"]
	path = public
	url = git@github.com:AngeloR/angelor.github.io.git
	branch = master
[submodule "themes/plain"]
	path = themes/plain
	url = git@github.com:AngeloR/plain-hugo-theme.git
[submodule "themes/digitalgarden"]
	path = themes/digitalgarden
	url = https://github.com/apvarun/digital-garden-hugo-theme.git
[submodule "themes/plain-hugo-theme"]
	path = themes/plain-hugo-theme
	url = git@github.com:AngeloR/plain-hugo-theme.git
