title = "Xangelo.ca"
author = "Angelo R"
paginator.pagerSize = 15
baseURL = "https://xangelo.ca"
theme = "custom-mytheme"
languageCode = "en-us"
relativeURLs = true
enableInlineShortcodes = true
footnoteReturnLinkContents = "^"
rssLimit = 15

[params]
subtitle = "Technical musings and other tidbits"
siteBaseName = "Xangelo.ca"
bloglistLength = 15

[menu]
  [[menu.main]]
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    name = "Links"
    url = "/pages/links/"
    weight = 3
  [[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 4
  [[menu.main]]
    name = "RSS"
    url = "/index.xml"
    weight = 5

[markup]
[markup.goldmark]
[markup.goldmark.renderer]
unsafe = true

[markup.highlight]
lineNos = true
lineNumbersInTable = true
style = "monokai"
tabWidth = 2
[markup.tableOfContents]
    endLevel = 3
    ordered = true
    startLevel = 2


[outputs]
home = ["HTML", "RSS"]
page = ["HTML"]
