{{ define "main" }}
  <section class="list-header">
    <h1>{{ .Title }}</h1>
    {{ if .Content }}
      <div class="list-content">
        {{ .Content }}
      </div>
    {{ end }}
  </section>
  <section class="list-items">
    {{ if eq .Section "posts" }}
      {{ partial "post-list.html" . }}
    {{ else }}
      <ul class="post-list">
        {{ range .Pages.ByDate.Reverse }}
          <li>
            <span class="post-date">{{ .Date.Format "2006-01-02" }}</span>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </section>
{{ end }}
